* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.075em;
}
body{
    background-color: #dfad93;
}
.main {
    height: 100vh;
}

.img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(60%);
    position: absolute;
    z-index: 0;
}

.no_filter {
    filter: brightness(100%);
}

.formular {
    margin: 0 auto 0 auto;
    padding-top: 8%;
    width: 22rem;
    position: relative;
}

form {
    text-align: center;
}

form h1 {
    color: white;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.password_input {
    display: flex;
}

.password input {
    width: 100%;
    margin-bottom: 1rem;
    height: 3rem;
    border-radius: 60px;
    padding-left: 15px;
    background-color: #fbcdb52f;
    border: 1px solid #fbcdb52f;
    transition: 0.5s;
    outline: none;
    color: white;
}

.password input:hover {
    border: 1px solid #fbceb5;
    background-color: #fbcdb507;
    transition: 0.5s;
}

.password input::placeholder {
    color: white;
    opacity: 1;
}

.remember_me {
    display: flex;
}

.remember_me label {
    color: white;
    margin: 15px 0 0 15px;
}

#rememberMe {
    width: 15px;
}

i {
    cursor: pointer;
    margin: 16px 0px 0 -35px;
}

button {
    width: 105%;
    padding: 1rem;
    border-radius: 80px;
    border: none;
    color: black;
    font-size: 1rem;
    background-color: #fbceb5;
    outline: none;
    margin-bottom: 60px;
}

button:hover {
    cursor: pointer;
}

.register {
    text-decoration: none;
    color: #fbceb5;
    font-size: 0.9rem;
    margin-left: -50px;
    border: 2px solid #fbceb5;
    padding: 0.8rem;
    transition: 0.5s;
    border-radius: 60px;
    background-color: #fbcdb507;
}

.register:hover {
    transition: 0.5s;
    background-color: #fbcdb52f;
}

.notice {
    color: white;
    margin-left: -50px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .formular {
        margin: 0 auto 0 auto;
        padding-top: 33%;
        width: 19rem;
        position: relative;
    }
    .register {
        margin-left: 22%;
    }
    .notice {
        padding-left: 40%;
    }
}

@keyframes opaAni {
    0% {
      opacity: 20%;
    }
    100% {
      opacity: 100%;
    }
  }
  .main{
    animation: 2s linear opaAni;
  }
